 body{
        background-color: #fbfbfb;
        color: #2e2e2e;
        margin: 50px;
        padding: 0;
        font-size: 17px;
        line-height: 28px;
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }
    div.content{
        border: 1px solid #fbfbfb;
        background-color: #fbfbfb;
        max-width: 100%;
        width: 96%;
        padding: 2%;
        margin: 28px  auto;
    }
#navbar {
	    height:30px;
        width: 100%;
        background-color:#e0e0e0;
        color:black;
        margin-bottom:10px;
}
#navbartxt {

		margin-left:14%;
}
#logo {
		width: 100%;
		position:relative;
		left:20px;
		background-color:#fbfbfb;
}
#logotext {
		font-size:xx-large;
		font-weight:bold;
        color: black;
        margin-left: 15px;
        margin-top: 1px;
}	
ul#grid {
		padding: 0;
		list-style: none;
		margin: 20px auto 0;
		width: 100%; 
}

#grid li {
		float: left;
		padding: 0;
		margin: 0;
		width:262px;
		height:197px;
} 
.portfolio {
		padding: 20px;
		margin-left: 0px; margin-right: 0px;
		width: 100%;
		font-family: 'GraublauWeb', arial, serif; 
		text-align: center;
}
#grid li a:hover img {
	opacity:0.7;  filter:alpha(opacity=70);
}
#grid li img {
	background-color: black;
	padding:0; 
	margin: 0;
	max-width: 100%;
	max-height: 100%;
}

#postimg  img{
	width:500px;
}


	#lightbox {
		position:fixed; /* keeps the lightbox window in the current viewport */
		top:0; 
		left:0; 
		width:100%; 
		height:100%; 
		background: black;
		opacity: .7;
		text-align:center;
		z-index:998;
		display:none;
	}
	#gallery-container {
		width: 80%;
		position:fixed; /* keeps the lightbox window in the current viewport */
		background-color: white;
		top: 10%;
		left: 10%;
		min-height: 80%;
		opacity: 1;
		margin-right: 10%;
		border-radius: 10px;
		border: 5px solid #ff0099;
		z-index:999;
		display:none;
	}
	


