 body{
        background-color: #fbfbfb;
        color: #2e2e2e;
        margin: 50px;
        padding: 0;
        font-size: 17px;
        line-height: 28px;
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }
    div.content{
        border: 1px solid #fbfbfb;
        background-color: #fbfbfb;
        max-width: 100%;
        width: 96%;
        padding: 2%;
        margin: 28px  auto;
    }
#navbar {
		margin-top: 10px;
        width: 100%;
        background-color:#e0e0e0;
        color:black;
        margin-bottom:0px;
		padding: 5px;
		font-size: 12px;
		text-align:center;

}

#navbar:a hover {
	color:white;
}

#navbartxt {

		margin-left:14%;
}

#logo {
		width: 100%;
		position:relative;
		left:20px;
		background-color:#fbfbfb;
}
#logotext {
		font-size:xx-large;
		font-weight:bold;
        color: black;
        margin-left: 15px;
        margin-top: 1px;
}	
#grid {
		padding: 0;
		list-style: none;
		margin: 20px auto 0;
		width: 100%; 
}

.onebox {
		float: left;
		padding: 0;
		margin: 15px;
		width:250px;
		height:180px;
		position:relative;
		overflow:hidden;
		border: 1px solid white;

} 
.box-inside {
	text-align:center;
	position:absolute;
	top: 80px;
	font-size: 24px;
	color: #ff0099;
	width: 250px;
	display:none;
}

.onebox:hover {
	border: 1px solid #ff0099;
}
.onebox img:hover {
	opacity:.5;
}
.portfolio {
		padding: 20px;
		margin-left: 0px; margin-right: 0px;
		width: 100%;
		font-family: 'GraublauWeb', arial, serif; 
		text-align: center;
}
.onebox a img:hover {
	opacity:0.7;  filter:alpha(opacity=70);
}
.onebox img {
	background-color: black;
	padding:0; 
	margin: 0;
	width: 120%;
}

#postimg  img{
	width:500px;
}


	#lightbox {
		position:fixed; /* keeps the lightbox window in the current viewport */
		top:0; 
		left:0; 
		width:100%; 
		height:100%; 
		background: black;
		opacity: .7;
		text-align:center;
		z-index:998;
		display:none;
	}
	
	.floating_name {
		position:fixed;
		top: 80%;
		text-align:center;
		width:30%;
		font-size:36px;
		height: 46px;
		padding-top: 12px;
		background-color: white;
		border: 3px solid gray;
		border-radius:5px;
		opacity: .4;
		margin-left:10%;
		
	}
	
	.iconj:hover {
	-webkit-filter: invert(100%); 
	}
	
	.floating_name:hover {
		opacity:1;
		background-color: #ff0099;
		color:white;
	}
	
	.arrows:hover {
 -webkit-filter: invert(100%);  
	}
	.gallery-container {
		position:fixed; /* keeps the lightbox window in the current viewport */
		background-color: white;
		top:25%;
		left:25%;
		width: 50%;
		height:50%;
		border-radius: 10px;
		border: 15px solid gray;
		overflow:hidden;
		z-index:999;
		display:none;
		clear:both;
	}
	


