{% include 'postings/_header.html' %}

<div class="fighters_list">
This project is by James Ding for Cengiz's CS370 Spring 2014 class.
<br>
<br>
One fateful day, Cengiz was hanging out with his boys when suddenly Bob walked into the classroom and pronounced Cengiz's name incorrectly. Cengiz was mad. "The sound is like the beginning of Django, from Django Unchained," he told Bob violently. Hot-tempered as he is, Bob decided to escalate things. He called up his boy Christoph Waltz, famous actor who starred in Django Unchained to settle things, but Christoph Waltz was busy laughing at the meager amounds of snow that gave us 5 snow days to do anything. Finally Bob decided to call in Jamie Foxx to don the Django suit again. Jamie Foxx showed up and decided to have a photo-contest with Cengiz. Good looking man as he is, Cengiz could not refuse. Thusly, this site was born.

<br><br><br><br>Here is a (possibly-made-up, depends on whether I convinced him to say it today) quote from Bob: <br><br>
"This is a completely true story. I recounted it to the best of my ability without consulting a tutor or code from other students."  


</div>
