	<div id="logo">
		<div id="logotext">
			<h1 > Food <span style="color: #ff0099;"> Club </span> </h1>
		</div>
	</div>
	<div id="navbar"  >
		<a style="text-decoration:none; margin-left: 10%;		color: black;" href="/">Home</a>
		<a style="text-decoration:none; margin-left: 10%;		color: black;" href="submit">New</a>
		<a style="text-decoration:none; margin-left: 10%;		color: black;" href="https://www.butterhub.org">Butter</a>
		<a style="text-decoration:none; margin-left: 10%;		color: black;" href="About">About Us</a>
	</div>	
