{% extends 'base.html' %}

{% block title %} Food Club {% endblock %}
{% block content %}
<hr>
<body>
	We are just regular guys with serious appetites.
	<br/>
	View and post any awesome food photos at anytime from anywhere! Completely free!
	register buttom at the top right corner. 
	<br/>
	<br/>
	Instructions:
	<br/>	
	To download GitHub for windows Click <href="https://windows.github.com/">here.
	To download django for windows click <href="https://www.djangoproject.com/download/1.7b3/tarball/">here.
	<br/>
	<br/>
	To view photo:
	<br/>
	Zoom in by simply click the within a photo. 
	zoom out by click anywhere outside of a photo.
	View more info about a photo by click the link under the photo while zoomed in.
	<br/>
	<br/>
	To upload photo:
	<br/>
	Click the new buttom at the navigation bar. 
	Fill out the informations.
	<br/>
	<br/>

	Feel free to contact any of us.
	<br/>
	<a color: black;" href="https://www.facebook.com/james.ding0">James Ding</a>
	<br>
	<a color: black;" href="https://www.facebook.com/dongaustin">Austin Dong</a>
	<br>
	<a color: black;" href="https://www.facebook.com/dadvorak">David Dvorak</a>
	<br>
	<a color: black;" href="https://www.facebook.com/Zenri">Zeyu Zhang</a>
	
</body>

{% endblock %}