{% extends 'base.html' %}

{% block title %} Food Club {% endblock %}
{% block content %}
<hr>
<body>
	We are just regular guys with serious appetites.
	<br>
	View and post any awesome food photos at anytime from anywhere! Completely free!
	<br>
	<br>
	To login:
	Click the Login button at the top right corner. 
	To register:
	Click the Login button and then click the register link.
	<br>
	<br>
	Instructions:
	<br>	
	To download GitHub for Windows click <a href="https://windows.github.com/">here</a>.
	To download Django for Windows click <a href="https://www.djangoproject.com/download/1.7b3/tarball/">here</a>.
	<br>
	<br>
	To view photo:
	<br>
	Zoom in by simply clicking a photo. This will open a box with the picture.
	Zoom out by clicking anywhere outside of the photo box.
	View more info about a photo by clicking the link under the photo while zoomed in.
	<br>
	<br>
	To upload a photo:
	<br>
	Click the New button in the navigation bar. 
	Fill out the fields and submit.
	<br>
	<br>
	To comment on a photo:
	<br>
	First, you must login.
	Click the link for a photo.
	Scroll to the bottom, where you will see a comment box.
	Write something and click "Add comment"!
	<br>
	<br>
	Feel free to contact any of us.
	<br>
	<a color: black;" href="https://www.facebook.com/james.ding0">James Ding</a>
	<br>
	<a color: black;" href="https://www.facebook.com/dongaustin">Austin Dong</a>
	<br>
	<a color: black;" href="https://www.facebook.com/dadvorak">David Dvorak</a>
	<br>
	<a color: black;" href="https://www.facebook.com/Zenri">Zeyu Zhang</a>
	
</body>

{% endblock %}