{% extends 'base.html' %}

{% block title %} Food Club {% endblock %}
{% block content %}
{% include 'blog/_header.html' %}
<hr>
<body>
	We are just regular guys with serious appetites.
	<br/>
	<a color: black;" href="https://www.facebook.com/james.ding0">James Ding</a>
	<br>
	<a color: black;" href="https://www.facebook.com/dongaustin">Austin Dong</a>
	<br>
	<a color: black;" href="https://www.facebook.com/dadvorak">David Dvorak</a>
	<br>
	<a color: black;" href="https://www.facebook.com/Zenri">Zeyu Zhang</a>
	
</body>

{% endblock %}