{% extends 'base.html' %}

{% block title %} Food Club {% endblock %}
{% block content %}

	<div id="logo">
		<div id="logotext">
			<p> Food Club </p>
		</div>
	</div>
	<div id="navbar">
		<a href="/">Home</a>
		<a href="@">Submit a Post</a>
	</div>
	
	<style type="text/css">
	

	</style>


	
	<div class="portfolio">
		<ul id="grid">
			{% for post in posts %}
			<li><a href="/{{post.name}}"><img src="{{STATIC_URL}}images/{{post.img}}"></a></li>
			{% endfor %}
		</ul>
	</div>
	
	
{% endblock %}