{% extends 'base.html' %}

{% block title %} Food Club {% endblock %}
{% block content %}
<div id="logo">
	<div id="logotext">
		<p> Food Club </p>
	</div>
</div>
<div id="navbar">
		<a href="/">Home</a>
		<a href="@">Submit a Post</a>
</div>
	<hr>
<body>
	<h2>{{post.name}}</h2>
	<div id="postimg">
		<img src="{{STATIC_URL}}images/{{post.img}}">
	</div>
    <br>
	<article>
		<p>
			Posted on
				<time datetime="{{post.time|date:"c"}}">
				{{post.time|date}}
				</time>
		</p>
		<p>
			{{post.dsc}}
		</p>
	</article>
</body>

{% endblock %}